<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Marcia DM</title>
</head>
<body>
    <div class="thankyou">
        <h1 class="contact-out">
            Gracias por contactarse.¡Te responderemos cuanto antes!
        </h1>
        <h3 class="back">Volver al <a href="index.html" class="inicio">inicio</a> </h3>
    </div>
</body>
</html>