@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  font-size: 100%;
}
h1{
  font-family: var(--font-family);
  font-size: 2vw ;
}

.main-title{
  padding-top: 4vw;
  text-align: center;
  font-size: 4vw;
  font-family: var(--font-family);
  font-weight: bolder;
}
/*-----Variables-----*/
:root {
  --main-padding: 20.6vw 5vw;
  --color-black: #23272a; 
  --font-family: 'Noto Serif Display', serif;
}
/*-----MENU-----*/
.navbar{
    font-family: var(--font-family);
    font-size: 1.1vw;
    letter-spacing: 2px;
    border-bottom: 1px solid #f3f3f3;
}

.dropdown-menu :hover{
background-color: #23272a17;
}
/*-----LIBROS-----*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
::before, ::after {
  content: "";
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #2c3e50;
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #2c3e50;
  margin-top: 100px;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.btn:hover {
  border-color: #16a085;
  color: #16a085;
}
/* basic grid */
.align {
  clear: both;
  margin: 90px auto 20px;
  width: 100%;
  max-width: 1170px;
  text-align: center;
}
.align > li {
  width: 500px;
  min-height: 300px;
  display: inline-block;
  /* display: grid; */
  margin: 30px 20px 50px 30px;
  padding: 0 0 0 60px;
  vertical-align: top;
}
.book {
  position: relative;
  width: 160px;
  height: 220px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.hardcover_front li:first-child {
  background-color: #eee;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* reverse */
.hardcover_front li:last-child {
  background: #fffbec;
}
/* HARDCOVER BACK */
.hardcover_back li:first-child {
  background: #fffbec;
}
/* reverse */
.hardcover_back li:last-child {
  background: #fffbec;
}
.book_spine li:first-child {
  background: #eee;
}
.book_spine li:last-child {
  background: #333;
}
/* thickness of cover */
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before, .hardcover_front li:last-child:after, .hardcover_front li:last-child:before, .hardcover_back li:first-child:after, .hardcover_back li:first-child:before, .hardcover_back li:last-child:after, .hardcover_back li:last-child:before, .book_spine li:first-child:after, .book_spine li:first-child:before, .book_spine li:last-child:after, .book_spine li:last-child:before {
  background: #999;
}
/* page */
.page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}
/*
opening cover, back cover and pages
 */
.hardcover_front {
  -webkit-transform: rotateY(-34deg) translateZ(8px);
  -moz-transform: rotateY(-34deg) translateZ(8px);
  transform: rotateY(-34deg) translateZ(8px);
  z-index: 100;
}
.hardcover_back {
  -webkit-transform: rotateY(-15deg) translateZ(-8px);
  -moz-transform: rotateY(-15deg) translateZ(-8px);
  transform: rotateY(-15deg) translateZ(-8px);
}
.page li:nth-child(1) {
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}
.page li:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
.page li:nth-child(3) {
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}
.page li:nth-child(4) {
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}
.page li:nth-child(5) {
  -webkit-transform: rotateY(-36deg);
  -moz-transform: rotateY(-36deg);
  transform: rotateY(-36deg);
}
/*
position, transform & transition
 */
.hardcover_front, .hardcover_back, .book_spine, .hardcover_front li, .hardcover_back li, .book_spine li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.hardcover_front, .hardcover_back {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.hardcover_front {
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  -moz-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
}
/* HARDCOVER front */
.hardcover_front li:first-child {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.hardcover_front li:last-child {
  -webkit-transform: rotateY(180deg) translateZ(2px);
  -moz-transform: rotateY(180deg) translateZ(2px);
  transform: rotateY(180deg) translateZ(2px);
}
/* HARDCOVER back */
.hardcover_back li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.hardcover_back li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}
/* thickness of cover */
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before, .hardcover_front li:last-child:after, .hardcover_front li:last-child:before, .hardcover_back li:first-child:after, .hardcover_back li:first-child:before, .hardcover_back li:last-child:after, .hardcover_back li:last-child:before, .book_spine li:first-child:after, .book_spine li:first-child:before, .book_spine li:last-child:after, .book_spine li:last-child:before {
  position: absolute;
  top: 0;
  left: 0;
}
/* HARDCOVER front */
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before {
  width: 4px;
  height: 100%;
}
.hardcover_front li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_front li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_front li:last-child:after, .hardcover_front li:last-child:before {
  width: 4px;
  height: 160px;
}
.hardcover_front li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.hardcover_front li:last-child:before {
  box-shadow: 0px 0px 30px 5px #333;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}
/* thickness of cover */
.hardcover_back li:first-child:after, .hardcover_back li:first-child:before {
  width: 4px;
  height: 100%;
}
.hardcover_back li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_back li:last-child:after, .hardcover_back li:last-child:before {
  width: 4px;
  height: 160px;
}
.hardcover_back li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}
.hardcover_back li:last-child:before {
  box-shadow: 10px -1px 80px 20px #666;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}
/* BOOK SPINE */
.book_spine {
  -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  width: 16px;
  z-index: 0;
}
.book_spine li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}
.book_spine li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}
/* thickness of book spine */
.book_spine li:first-child:after, .book_spine li:first-child:before {
  width: 4px;
  height: 100%;
}
.book_spine li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book_spine li:first-child:before {
  -webkit-transform: rotateY(-90deg) translateZ(-12px);
  -moz-transform: rotateY(-90deg) translateZ(-12px);
  transform: rotateY(-90deg) translateZ(-12px);
}
.book_spine li:last-child:after, .book_spine li:last-child:before {
  width: 4px;
  height: 16px;
}
.book_spine li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}
.book_spine li:last-child:before {
  box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}
.page, .page > li {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.page {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
  z-index: 10;
}
.page > li {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
}
.page > li:nth-child(1) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.page > li:nth-child(2) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.page > li:nth-child(3) {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.page > li:nth-child(4) {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.page > li:nth-child(5) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
/*
events
 */
.book:hover > .hardcover_front {
  -webkit-transform: rotateY(-145deg) translateZ(0);
  -moz-transform: rotateY(-145deg) translateZ(0);
  transform: rotateY(-145deg) translateZ(0);
  z-index: 0;
}
.book:hover > .page li:nth-child(1) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.book:hover > .page li:nth-child(2) {
  -webkit-transform: rotateY(-35deg);
  -moz-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
  -webkit-transition-duration: 1.8s;
  -moz-transition-duration: 1.8s;
  transition-duration: 1.8s;
}
.book:hover > .page li:nth-child(3) {
  -webkit-transform: rotateY(-118deg);
  -moz-transform: rotateY(-118deg);
  transform: rotateY(-118deg);
  -webkit-transition-duration: 1.6s;
  -moz-transition-duration: 1.6s;
  transition-duration: 1.6s;
}
.book:hover > .page li:nth-child(4) {
  -webkit-transform: rotateY(-130deg);
  -moz-transform: rotateY(-130deg);
  transform: rotateY(-130deg);
  -webkit-transition-duration: 1.4s;
  -moz-transition-duration: 1.4s;
  transition-duration: 1.4s;
}
.book:hover > .page li:nth-child(5) {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  transition-duration: 1.2s;
}
/*
Bonus
 */
/* cover CSS */
.coverDesign {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.coverDesign::after {
  background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.coverDesign h1 {
  color: #fff;
  font-size: 2.2em;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 54% 0 0 0;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.coverDesign p {
  color: #f8f8f8;
  font-size: 1em;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}

/* Basic ribbon */
.ribbon {
  color: #fff;
  display: block;
  font-size: 0.7em;
  position: absolute;
  top: 11px;
  right: 1px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  -webkit-transform: rotateZ(45deg) translateZ(1px);
  -moz-transform: rotateZ(45deg) translateZ(1px);
  transform: rotateZ(45deg) translateZ(1px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
}
.ribbon.new {
  background: #000000;
}
.ribbon.new:before, .ribbon.new:after {
  border-bottom: 20px solid #000000;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
}
.ribbon::before {
  left: -20px;
  border-left: 20px solid transparent;
}
.ribbon::after {
  right: -20px;
  border-right: 20px solid transparent;
}
/* figcaption */
figcaption {
  padding-left: 40px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 160px;
  width: 310px;
}
figcaption h1 {
  margin: 0;
}
figcaption span {
  color: #111111;
  padding: 0.6em 0 1em 0;
  display: block;
}
figcaption p {
  color: #222222;
  line-height: 1.3;
}
/* Media Queries */
@media screen and (max-width: 37.8125em) {
.align > li {
width: 100%;
min-height: 440px;
height: auto;
padding: 0;
margin: 0 0 30px 0;
}
.book {
margin: 0 auto;
}
figcaption {
text-align: center;
width: 320px;
top: 250px;
padding-left: 0;
left: -80px;
font-size: 90%;
}
}
.icon{
  padding-top: 1vw ;
  padding-bottom: 1vw;
}
.jumbotron{
  margin-bottom: 0;
  background-image: url(../assets/img/allMenT.png);
    /* background-image: url(../assets/img/website.png); */
  background-position: 50% 50%;
  height: 84.3vh;
  min-height: 400px;
  color: black;
  padding: 5vw;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
.jumbotron h1 {
  font-family:var(--font-family);
  font-size: 18vh;
  letter-spacing: 1vw;
  font-weight:bolder;
  margin-top: 13vw;
  text-align: center;
  color: #ffffff;
}

/*-----FOOTER-----*/

.container{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--color-black);
  padding: 0.5% 1%;
}
.footer-col{
    width: 50%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #cccccc;
	text-transform: capitalize;
	margin-bottom:  2.2786458333333335vw;
  margin-top: 5%;
	font-weight: 500;
	position: relative;
  font-family: var(--font-family);
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	background-color: var(--color-black);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #cccccc;
	text-decoration: none;
	font-weight: 300;
	color: #e2dddd;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #cccccc;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #868282;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 30%;
	color: #cccccc;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #cccccc;
}
.footer p {
    font-family: var(--font-family);
    color: #cccccc;
    font-weight: 300;
    text-align: center;
    margin-top: 2vw;
    text-align: end;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
  .footer p {
  font-size: 3.5vw;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*suscripcion*/
#mc_embed_signup{
  background:rgba(95, 95, 95, 0);
  clear:left; 
  font:14px Helvetica,Arial,sans-serif;  
  color: #cccccc;
  width:15vw;
}
#mc_embed_signup h2{
  font-family: var(--font-family);
}

/*-----SOBRE MI-----*/
.pic-about{
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}
.sobreMi{
  font-size: 4vw;
  margin-right: 60vw;
  margin-bottom: 10vw;
  padding-top: 15vw;
  transform: rotate(-90.00deg);
  
}
.intro {
  font-family: var(--font-family);
  padding: 0;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
  max-width: 100vw;
  text-align: justify;
  width: 50%;
  padding-left: 11vw;
  padding-bottom: 1vw;
  line-height: 20pt;
  white-space:normal;
}
.span-about{
  font-weight: bolder;
  font-size: 1.1vw;
}
.typewriter{
  margin-left: 45vw;
  margin-top: -25vw;
}
.aboutme-Todo{
  margin-top: -5vw;
}
/* 
.splash-arrow-img {
    cursor: pointer;
    margin-top: 50%;
    position: absolute;
    width: 2vw;
    margin-left: 47.5vw;
} */
/*-----CONTACTO-----*/
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}

input[type=submit] {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #23272a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdc3c7, #23272a);
  color: #d3d3d3;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type=submit]:hover {
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #23272a, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #23272a, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #d3d3d3;
}

.containerC {
  box-sizing : border-box;
  border-radius:20px;
  background-color:#23272a;
  padding:2vw;
  width: 100%;
  max-width: 30vw;
  margin:0 auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.cont-title  {
  color: #d3d3d3;
  width: 100%;
  text-align: center;
  font-size: 4vw;
}
.img-contact{
  background-image: url('https://images.unsplash.com/photo-1498230870289-7561110a6e69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
/*MEDIA QUERYS*/
@media screen and (max-width: 600px){
  .nav-item a{
    font-size: 5vw;
  }
  #mc_embed_signup{
    width:50vw;
  }
  .main-title{
    font-size: 7vw;
    margin-top: 10vw;
    font-style: italic;
  }
  .icon{
    padding-top: 30vw;
  }
  h1{
    font-size: 5vw;
    padding-top: 3vw;
  }
  .jumbotron h1 {
    font-size: 11vh;
    padding-top: 40vw;
  }
  /* .jumbotron{
    background-image: url(./img/shutterstock_1494301553.jpg);
  } */
  .typewriter{
    display: none;
  }
  .sobreMi{
    font-size: 15vw;
    margin-top: 10vw;
    text-align: center;
    transform: none;
    margin-right: 0vw;
    padding-top: 10vw;
  }
  .intro{
    align-items: center;
    background-color: transparent;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    top: auto;
    width: 85%;
    padding-left: 0vw;
    font-size: 4vw;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
  }
  .span-about{
    font-size: 4vw;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
  }
  .containerC{
    max-width: 85vw;
  }
}
@media screen and (min-width: 700px) and (max-width:1000px){
  .span-about{
    font-size: 2.5vw;
  }
  .sobreMi{
    font-size: 9vw;
    margin-top: 30vw;
  }
  .intro{
    align-items: center;
    background-color: transparent;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    top: auto;
    width: 80%;
    padding-left: 0vw;
    font-size: 2vw;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
  }
  .typewriter{
    margin-top: -45vw;
  }
  .containerC{
    max-width: 55vw;
  }
}
@media screen 
  and (min-width: 1010px)
  and (max-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-item a{
      font-size: 2.5vw;
    }
    #mc_embed_signup{
      width:30vw;
    }
  .containerC{
    max-width: 45vw;
  }
  }
